@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrap .container {
  max-width: 1610px;
  margin: 0 auto;
  font-family: Poppins, serif;
  font-size: 20px;
}

.wrap .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 85px;
  margin-bottom: 170px;
}

.wrap .header .header__logo .logo .logo__name {
  font-weight: 800;
  font-size: 35px;
  line-height: 52px;
  color: #58A9A5;
}

.wrap .header .header__link .header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap .header .header__link .header__item .item__link .link {
  margin-right: 85px;
  text-decoration: none;
  font-weight: normal;
  font-size: 25px;
  line-height: 37px;
  color: #404242;
}

.wrap .header .header__link .header__item .item__link .link__activ {
  font-weight: bold;
  font-size: 25px;
  line-height: 37px;
  position: relative;
  color: #58A9A5;
}

.wrap .header .header__link .header__item .item__link .link__activ::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 48px;
  height: 6px;
  background-color: #FEC62D;
  right: 0;
  margin: 0 auto;
  display: block;
  border-radius: 21px;
  top: 35px;
}

.wrap .header .button__signup {
  border-radius: 15px;
}

.wrap .main .section__titel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap .main .section__titel .section__description .heading {
  max-width: 700px;
  margin-bottom: 50px;
  font-weight: 800;
  font-size: 70px;
  line-height: 105px;
  color: #1C2323;
}

.wrap .main .section__titel .section__description .description__p {
  max-width: 740px;
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
  color: #404242;
}

.wrap .main .section__titel .section__titel-img {
  background: #CCF0E6;
  border-radius: 120px;
  border-radius: 30%/270px;
}

.wrap .main .section__titel .section__titel-img .titel__img {
  width: 720px;
}

.button {
  padding: 21px 85px;
  background: #58A9A5;
  border-radius: 20px 20px 20px 0px;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  color: #FFFFFF;
}
