@import "_nullstyle.scss";


.wrap {
	.container{
		max-width: 1610px;
		margin: 0 auto;
		font-family: Poppins, serif;
		font-size: 20px;
	}
	.header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 85px;
		margin-bottom: 170px;
		.header__logo{
			.logo {
				.logo__name{
					font-weight: 800;
					font-size: 35px;
					line-height: 52px;
					color: #58A9A5;
				}
			}
		}
		.header__link {
			.header__item {
				display: flex;
				justify-content: space-between;
				.item__link {
					.link {
						margin-right: 85px;
						text-decoration: none;
						font-weight: normal;
						font-size: 25px;
						line-height: 37px;
						color: #404242;
					}
					.link__activ {
						font-weight: bold;
						font-size: 25px;
						line-height: 37px;
						position: relative;
						color: #58A9A5;
					}
					.link__activ::after {
						content: "";
						position: absolute;
						bottom: 0px;
						left: 0;
						width: 48px;
						height: 6px;
						background-color: #FEC62D;
						right: 0;
						margin: 0 auto;
						display: block;
						border-radius: 21px;
						top: 35px;
					}
				}
			}
		}
		.button__signup{
			border-radius: 15px;
		}
	}
	.main {
		.section__titel{
			display: flex;
			justify-content: space-between;
			.section__description{
				.heading {
					max-width: 700px;
					margin-bottom: 50px;
					font-weight: 800;
					font-size: 70px;
					line-height: 105px;
					color: #1C2323;
				}
				.description__p {
					max-width: 740px;
					margin-bottom: 50px;
					font-weight: normal;
					font-size: 30px;
					line-height: 45px;
					color: #404242;
				}
				.section__button {
					// margin-bottom: 180px;
				}
			}
			.section__titel-img {
				background: #CCF0E6;
				border-radius: 120px;
				// border-radius: 833px/382px;
				border-radius: 30%/270px;
				// width: 833.87px;
				// height: 782px;
				// left: 980.12px;
				// top: 270px;
				.titel__img {
					width: 720px;
				}
			}
		}
	}
}
.button {
	padding: 21px 85px;
	background: #58A9A5;
	border-radius: 20px 20px 20px 0px;
	font-weight: 500;
	font-size: 25px;
	line-height: 37px;
	color: #FFFFFF;
}