@import "_nullstyle.scss";


.wrap {
	.container{
		max-width: 1610px;
		margin: 0 auto;
		font-family: Poppins, serif;
		font-size: 20px;
	}
	.header{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 85px;
		margin-bottom: 170px;
		.header__logo{
			.logo {
				.logo__name{
					font-weight: 800;
					font-size: 35px;
					line-height: 52px;
					color: #58A9A5;
				}
			}
		}
		.header__link {
			.header__item {
				display: flex;
				justify-content: space-between;
				.item__link {
					.link {
						margin-right: 85px;
						text-decoration: none;
						font-weight: normal;
						font-size: 25px;
						line-height: 37px;
						color: #404242;
					}
					.link__activ {
						font-weight: bold;
						font-size: 25px;
						line-height: 37px;
						position: relative;
						color: #58A9A5;
					}
					.link__activ::after {
						content: "";
						position: absolute;
						bottom: 0px;
						left: 0;
						width: 48px;
						height: 6px;
						background-color: #FEC62D;
						right: 0;
						margin: 0 auto;
						display: block;
						border-radius: 21px;
						top: 35px;
					}
				}
			}
		}
		.button__signup{
			border-radius: 15px;
		}
	}
	.main {
		.section__titel{
			display: flex;
			justify-content: space-between;
			.section__description{
				
				.heading__discription {
					max-width: 700px;
					margin-top: 45px;
					margin-bottom: 50px;
				}
				.description__p {
					max-width: 740px;
					margin-bottom: 50px;
					font-weight: normal;
					font-size: 30px;
					line-height: 45px;
					color: #404242;
				}
				.section__button {
					margin-bottom: 180px;
				}
			}
			.section__titel-img {
				position: relative;
				.rectangle {
					z-index: 2;
				}
				.titel__img {
					position: absolute;
					padding-left: 122px;
					padding-top: 70px;
					z-index: 1;
					width: 723px;
					height: 723px;
				}
			}
		}
		.section__works {
			.section__name {
				text-align: center;
				.section__heading {
					margin-bottom: 20px;
				}
				.section__description-p {
					max-width: 510px;
					margin: 0 auto;
					margin-bottom: 71px;
					font-weight: normal;
					font-size: 30px;
					line-height: 45px;
					text-align: center;
					color: #404242;
				}
			}
			.section__video {
				display: flex;
				background: #CCF0E6;
				border-radius: 10px;
				height: 350px;
				margin-bottom: 150px;
				.section__imge {
					margin-bottom: 150px;
					.section__img {
						object-fit: cover;
						width: 1060px;
						max-height: 350px;
						border-radius: 10px 0px 0px 10px;
					}
				}
				.section__text {
					
					display: flex;
					justify-content: center;
					flex-direction: column;
					margin-left: 115px;
					width: 100%;
					font-weight: 500;
					font-size: 20px;
					line-height: 30px;
					color: #486958;
					.section__see {
						text-decoration: none;
						font-size: 20px;
						font-weight: bold;
						line-height: 30px;
						color: #486958;
					}
					.text {
						margin-bottom: 40px;
						// display: inline-block;
						max-width: 330px;
					}
				}
				.button__see {
					position: absolute;
					background-color: #FFFFFF;
					border-radius: 65px;
				}
			}
		}
	}
}
.button {
	padding: 21px 85px;
	background: #58A9A5;
	border-radius: 20px 20px 20px 0px;
	font-weight: 500;
	font-size: 25px;
	line-height: 37px;
	color: #FFFFFF;
}

.heading {
	font-weight: 800;
	font-size: 70px;
	line-height: 105px;
	color: #1C2323;
}